backend/ai-backend/__pycache__/*
backend/ai-backend/.idea/*
backend/ai-backend/bin/*
backend/ai-backend/ect/*
backend/ai-backend/lib/*
backend/ai-backend/models/*
backend/ai-backend/Samples/*
backend/ai-backend/share/*
backend/ai-backend/tests/*

AIProject/*.iml
AIProject/.gradle
AIProject/local.properties
AIProject/.idea/caches
AIProject/.idea/libraries
AIProject/.idea/modules.xml
AIProject/.idea/workspace.xml
AIProject/.idea/navEditor.xml
AIProject/.idea/assetWizardSettings.xml
AIProject/.DS_Store
AIProject/build
AIProject/captures
AIProject/.externalNativeBuild
AIProject/.cxx
AIProject/local.properties
